<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <title>Unishop | Universal E-Commerce Template
        </title>
        <!-- SEO Meta Tags-->
        <meta name="description" content="Unishop - Universal E-Commerce Template">
        <meta name="keywords" content="shop, e-commerce, modern, flat style, responsive, online store, business, mobile, blog, bootstrap 4, html5, css3, jquery, js, gallery, slider, touch, creative, clean">
        <meta name="author" content="Rokaux">
        <!-- Mobile Specific Meta Tag-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!-- Favicon and Apple Icons-->
        <link rel="icon" type="image/x-icon" href="{{ asset('../web/favicon.ico') }}">
        <link rel="icon" type="image/png" href="{{ asset('../web/favicon.png') }}">
        <link rel="apple-touch-icon" href="{{ asset('../web/touch-icon-iphone.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('../web/touch-icon-ipad.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('../web/touch-icon-iphone-retina.png') }}">
        <link rel="apple-touch-icon" sizes="167x167" href="{{ asset('../web/touch-icon-ipad-retina.png') }}">
        <!-- Vendor Styles including: Bootstrap, Font Icons, Plugins, etc.-->
        <link rel="stylesheet" media="screen" href="{{ asset('../web/css/vendor.min.css') }}">
        <!-- Main Template Styles-->
        <link id="mainStyles" rel="stylesheet" media="screen" href="{{ asset('../web/css/styles.min.css') }}">
        <!-- Customizer Styles-->
        <link rel="stylesheet" media="screen" href="{{ asset('../web/customizer/customizer.min.css') }}">
        <!-- Google Tag Manager-->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '../../../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-T4DJFPZ');

        </script>
        <!-- Modernizr-->
        <script src="{{ asset('../web/js/modernizr.min.js') }}"></script>
    {% endblock %}
</head>

<header>
    {%block header%}
        <noscript>
            <iframe src="../../../../www.googletagmanager.com/ns6079.html?id=GTM-T4DJFPZ" height="0" width="0" style="display: none; visibility: hidden;"></iframe>
        </noscript>
        <!-- Template Customizer-->
        <div class="customizer-backdrop"></div>


        <div class="offcanvas-container" id="mobile-menu">
            <nav class="offcanvas-menu">
                <ul class="menu">
                    <li class="has-children active"><span><a href="{{ path('appel_sponsor_index2')}}"><span>Home</span></a><span class="sub-menu-toggle"></span></span>
                        <ul class="offcanvas-submenu">
                            <li class="active"><a href="#">Featured Products Slider</a></li>
                            <li><a href="home-featured-categories.html">Featured Categories</a></li>
                            <li><a href="home-collection-showcase.html">Products Collection Showcase</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><span><a href="shop-grid-ls.html"><span>Shop</span></a><span class="sub-menu-toggle"></span></span>
                        <ul class="offcanvas-submenu">
                            <li><a href="shop-categories.html">Shop Categories</a></li>
                            <li class="has-children"><span><a href="shop-grid-ls.html"><span>Shop Grid</span></a><span class="sub-menu-toggle"></span></span>
                                <ul class="offcanvas-submenu">
                                    <li><a href="shop-grid-ls.html">Grid Left Sidebar</a></li>
                                    <li><a href="shop-grid-rs.html">Grid Right Sidebar</a></li>
                                    <li><a href="shop-grid-ns.html">Grid No Sidebar</a></li>
                                </ul>
                            </li>
                            <li class="has-children"><span><a href="shop-list-ls.html"><span>Shop List</span></a><span class="sub-menu-toggle"></span></span>
                                <ul class="offcanvas-submenu">
                                    <li><a href="shop-list-ls.html">List Left Sidebar</a></li>
                                    <li><a href="shop-list-rs.html">List Right Sidebar</a></li>
                                    <li><a href="shop-list-ns.html">List No Sidebar</a></li>
                                </ul>
                            </li>
                            <li><a href="shop-single.html">Single Product</a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><span><a href="#">Categories</a><span class="sub-menu-toggle"></span></span>
                        <ul class="offcanvas-submenu">
                            <li class="has-children"><span><a href="#">Men's Shoes</a><span class="sub-menu-toggle"></span></span>
                                <ul class="offcanvas-submenu">
                                    <li><a href="#">Sneakers</a></li>
                                    <li><a href="#">Loafers</a></li>
                                    <li><a href="#">Boat Shoes</a></li>
                                    <li><a href="#">Sandals</a></li>
                                    <li><a href="#">View All</a></li>
                                </ul>
                            </li>
                            <li class="has-children"><span><a href="#">Women's Shoes</a><span class="sub-menu-toggle"></span></span>
                                <ul class="offcanvas-submenu">
                                    <li><a href="#">Sandals</a></li>
                                    <li><a href="#">Flats</a></li>
                                    <li><a href="#">Sneakers</a></li>
                                    <li><a href="#">Heels</a></li>
                                    <li><a href="#">View All</a></li>
                                </ul>
                            </li>
                            <li class="has-children"><span><a href="#">Men's Clothing</a><span class="sub-menu-toggle"></span></span>
                                <ul class="offcanvas-submenu">
                                    <li><a href="#">Shirts &amp; Tops</a></li>
                                    <li><a href="#">Pants</a></li>
                                    <li><a href="#">Jackets</a></li>
                                    <li><a href="#">View All</a></li>
                                </ul>
                            </li>
                            <li class="has-children"><span><a href="#">Women's Clothing</a><span class="sub-menu-toggle"></span></span>
                                <ul class="offcanvas-submenu">
                                    <li><a href="#">Dresses</a></li>
                                    <li><a href="#">Shirts &amp; Tops</a></li>
                                    <li><a href="#">Shorts</a></li>
                                    <li><a href="#">Swimwear</a></li>
                                    <li><a href="#">View All</a></li>
                                </ul>
                            </li>
                            <li class="has-children"><span><a href="#">Bags</a><span class="sub-menu-toggle"></span></span>
                                <ul class="offcanvas-submenu">
                                    <li><a href="#">Handbags</a></li>
                                    <li><a href="#">Backpacks</a></li>
                                    <li><a href="#">Luggage</a></li>
                                    <li><a href="#">Wallets</a></li>
                                    <li><a href="#">View All</a></li>
                                </ul>
                            </li>
                            <li class="has-children"><span><a href="#">Accessories</a><span class="sub-menu-toggle"></span></span>
                                <ul class="offcanvas-submenu">
                                    <li><a href="#">Sunglasses</a></li>
                                    <li><a href="#">Hats</a></li>
                                    <li><a href="#">Watches</a></li>
                                    <li><a href="#">Jewelry</a></li>
                                    <li><a href="#">Belts</a></li>
                                    <li><a href="#">View All</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children"><span><a href="account-orders.html"><span>Account</span></a><span class="sub-menu-toggle"></span></span>
                        <ul class="offcanvas-submenu">
                            <li><a href="account-login.html">Login / Register</a></li>
                            <li><a href="account-password-recovery.html">Password Recovery</a></li>
                            <li><a href="account-orders.html">Orders List</a></li>
                            <li><a href="account-wishlist.html">Wishlist</a></li>
                            <li><a href="account-profile.html">Profile Page</a></li>
                            <li><a href="account-address.html">Contact / Shipping Address</a></li>
                            <li><a href="account-open-ticket.html">Open Ticket</a></li>
                            <li><a href="account-tickets.html">My Tickets</a></li>
                            <li><a href="account-single-ticket.html">Single Ticket</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><span><a href="blog-rs.html"><span>Blog</span></a><span class="sub-menu-toggle"></span></span>
                        <ul class="offcanvas-submenu">
                            <li class="has-children"><span><a href="blog-rs.html"><span>Blog Layout</span></a><span class="sub-menu-toggle"></span></span>
                                <ul class="offcanvas-submenu">
                                    <li><a href="blog-rs.html">Blog Right Sidebar</a></li>
                                    <li><a href="blog-ls.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-ns.html">Blog No Sidebar</a></li>
                                </ul>
                            </li>
                            <li class="has-children"><span><a href="blog-single-rs.html"><span>Single Post Layout</span></a><span class="sub-menu-toggle"></span></span>
                                <ul class="offcanvas-submenu">
                                    <li><a href="blog-single-rs.html">Post Right Sidebar</a></li>
                                    <li><a href="blog-single-ls.html">Post Left Sidebar</a></li>
                                    <li><a href="blog-single-ns.html">Post No Sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children"><span><a href="#"><span>Pages</span></a><span class="sub-menu-toggle"></span></span>
                        <ul class="offcanvas-submenu">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="mobile-app.html">Unishop Mobile App</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="faq.html">Help / FAQ</a></li>
                            <li><a href="order-tracking.html">Order Tracking</a></li>
                            <li><a href="search-results.html">Search Results</a></li>
                            <li><a href="404.html">404</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                            <li><a class="text-danger" href="docs/dev-setup.html">Documentation</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><span><a href="components/accordion.html"><span>Components</span></a><span class="sub-menu-toggle"></span></span>
                        <ul class="offcanvas-submenu">
                            <li><a href="components/accordion.html">Accordion</a></li>
                            <li><a href="components/alerts.html">Alerts</a></li>
                            <li><a href="components/buttons.html">Buttons</a></li>
                            <li><a href="components/cards.html">Cards</a></li>
                            <li><a href="components/carousel.html">Carousel</a></li>
                            <li><a href="components/countdown.html">Countdown</a></li>
                            <li><a href="components/forms.html">Forms</a></li>
                            <li><a href="components/gallery.html">Gallery</a></li>
                            <li><a href="components/google-maps.html">Google Maps</a></li>
                            <li><a href="components/images.html">Images &amp; Figures</a></li>
                            <li><a href="components/list-group.html">List Group</a></li>
                            <li><a href="components/market-social-buttons.html">Market &amp; Social Buttons</a></li>
                            <li><a href="components/media.html">Media Object</a></li>
                            <li><a href="components/modal.html">Modal</a></li>
                            <li><a href="components/pagination.html">Pagination</a></li>
                            <li><a href="components/pills.html">Pills</a></li>
                            <li><a href="components/progress-bars.html">Progress Bars</a></li>
                            <li><a href="components/shop-items.html">Shop Items</a></li>
                            <li><a href="components/steps.html">Steps</a></li>
                            <li><a href="components/tables.html">Tables</a></li>
                            <li><a href="components/tabs.html">Tabs</a></li>
                            <li><a href="components/team.html">Team</a></li>
                            <li><a href="components/toasts.html">Toast Notifications</a></li>
                            <li><a href="components/tooltips-popovers.html">Tooltips &amp; Popovers</a></li>
                            <li><a href="components/typography.html">Typography</a></li>
                            <li><a href="components/video-player.html">Video Player</a></li>
                            <li><a href="components/widgets.html">Widgets</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Topbar-->
        <div class="topbar">
            <div class="topbar-column"><a class="hidden-md-down" href="mailto:support@unishop.com"><i class="icon-mail"></i>&nbsp; jdidi.boujneh@esprit.tn</a><a class="hidden-md-down" href="tel:00331697720"><i class="icon-bell"></i>&nbsp;+216 50341382</a><a class="social-button sb-facebook shape-none sb-dark" href="#" target="_blank"><i class="socicon-facebook"></i></a><a class="social-button sb-twitter shape-none sb-dark" href="#" target="_blank"><i class="socicon-twitter"></i></a><a class="social-button sb-instagram shape-none sb-dark" href="#" target="_blank"><i class="socicon-instagram"></i></a><a class="social-button sb-pinterest shape-none sb-dark" href="#" target="_blank"><i class="socicon-pinterest"></i></a>
            </div>
            <div class="topbar-column"><a class="hidden-md-down" href="#"><i class="icon-download"></i>&nbsp; Get mobile app</a>
                <div class="lang-currency-switcher-wrap">
                    <div class="lang-currency-switcher dropdown-toggle"><span class="language"><img alt="English" src="{{ asset('../web/img/flags/GB.png') }}"></span><span class="currency">$ USD</span></div>
                    <div class="dropdown-menu">
                        <div class="currency-select">
                            <select class="form-control form-control-rounded form-control-sm">
                                <option value="usd">$ USD</option>
                                <option value="usd">€ EUR</option>
                                <option value="usd">£ UKP</option>
                                <option value="usd">¥ JPY</option>
                            </select>
                        </div><a class="dropdown-item" href="#"><img src="{{ asset('../web/img/flags/FR.png') }}" alt="Français">Français</a><a class="dropdown-item" href="#"><img src="i{{ asset('../web/img/flags/DE.png') }}" alt="Deutsch">Deutsch</a><a class="dropdown-item" href="#"><img src="{{ asset('../web/img/flags/IT.png') }}" alt="Italiano">Italiano</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar-->
        <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
        <header class="navbar navbar-sticky">
            <!-- Search-->
            <form class="site-search" method="get">
                <input type="text" name="site_search" placeholder="Type to search...">
                <div class="search-tools"><span class="clear-search">Clear</span><span class="close-search"><i class="icon-cross"></i></span></div>
            </form>
            <div class="site-branding">
                <div class="inner">

                    <!-- Site Logo--><a class="site-logo" ><img src="{{ asset('../web/img/logo/logo.png') }}" alt="Unishop"></a>
                </div>
            </div>
            <!-- Main Navigation-->
            <nav class="site-menu">
                <ul>


                    <li class="has-megamenu active"><a href="{{ path('appel_sponsor_index2')}}"><span>Home</span></a>
                        <ul class="mega-menu">

                        </ul>
                    </li>
                    <li><a href="{{ path('appel_sponsor_ Events')}}"><span>Events</span></a>

                    </li>
                    {#<li class="has-megamenu"><a href="#"><span>Invitation</span></a>#}

                    </li>



                </ul>
            </nav>

            <!-- Toolbar-->
            <div class="toolbar">
                <div class="inner">
                    <div class="tools">
                        <div class="header-top-right float-right">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="{{ path('fos_user_security_logout') }}" class="header-top-button"><i class="lni-lock"></i> Log Out</a>
                            {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                                <a href="{{ path('fos_user_security_login') }}" class="header-top-button"><i class="lni-lock"></i> Log In</a> |
                                <a href="{{ path('fos_user_registration_register') }}" class="header-top-button"><i class="lni-pencil"></i> Register</a>
                            {% endif %}
                        </div>


                    </div>
                </div>
            </div>
        </header>
    {%endblock%}
</header>

<body>
{% block content %}

{% endblock %}
</body>

<footer>
    {% block  footer %}
        <!-- Site Footer-->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <!-- Contact Info-->
                        <section class="widget widget-light-skin">
                            <h3 class="widget-title">Welcom to CrewTivity</h3>
                            <p class="text-white">Phone: 50341382</p>
                            <ul class="list-unstyled text-sm text-white">


                            </ul>
                            <a class="social-button shape-circle sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a><a class="social-button shape-circle sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-button shape-circle sb-instagram sb-light-skin" href="#"><i class="socicon-instagram"></i></a><a class="social-button shape-circle sb-google-plus sb-light-skin" href="#"><i class="socicon-googleplus"></i></a>
                        </section>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <!-- Mobile App Buttons-->
                        <section class="widget widget-light-skin">
                            <h3 class="widget-title">Our Mobile App</h3><a class="market-button apple-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">App Store</span></a><a class="market-button google-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Google Play</span></a><a class="market-button windows-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Windows Store</span></a>
                        </section>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <!-- About Us-->
                        <section class="widget widget-links widget-light-skin">
                            <h3 class="widget-title">About Us</h3>
                            <ul>
                                <li><a href="#">Jdidi Boujneh</a></li>
                                <li><a href="#">Yassine ben gharsallah</a></li>
                                <li><a href="#">Ahmed Abdesmad</a></li>
                                <li><a href="#">ousama seleti</a></li>
                                <li><a href="#">halim gara</a></li>
                                <li><a href="#">ayoub mesbah</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <!-- Account / Shipping Info-->

                    </div>
                </div>
                <hr class="hr-light mt-2 margin-bottom-2x">
                <div class="row">
                    <div class="col-md-7 padding-bottom-1x">
                        <!-- Payment Methods-->

                    </div>
                    <div class="col-md-5 padding-bottom-1x">
                        <div class="margin-top-1x hidden-md-up"></div>
                        <!--Subscription-->

                    </div>
                </div>
                <!-- Copyright-->
                <p class="footer-copyright">© All rights reserved. Hacked with &nbsp;<i class="icon-heart text-danger"></i><a href="../../../../rokaux.com/index.html" target="_blank"> &nbsp;By CrewTivity</a></p>
            </div>
        </footer>
        </div>
        <!-- Back To Top Button--><a class="scroll-to-top-btn" href="#"><i class="icon-arrow-up"></i></a>
        <!-- Backdrop-->
        <div class="site-backdrop"></div>
        <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
        <script src="{{ asset('../web/js/vendor.min.js') }}"></script>
        <script src="{{ asset('../web/js/scripts.min.js') }}"></script>
        <!-- Customizer scripts-->
        <script src="{ asset('../web/customizer/customizer.min.js') }}"></script>
    {% endblock %}
</footer>
</html>
