{% extends 'base.html.twig' %}

{% block body %}
    <h1>Interessers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for interesser in interessers %}
            <tr>
                <td><a href="{{ path('interesser_show', { 'id': interesser.id }) }}">{{ interesser.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('interesser_show', { 'id': interesser.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('interesser_edit', { 'id': interesser.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('interesser_new') }}">Create a new interesser</a>
        </li>
    </ul>
{% endblock %}
