{% extends 'base.html.twig' %}
{% block content %}





    <div class="input-group">
        <form  method="POST" action="{{ path('recherche') }}" >
        <input type="text" name="rech" class="form-control" placeholder="search.." aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
        </div>
        </form>
    </div>
    <br>
    <div class="form-group row flex-v-center">


        <a class="btn btn-primary" href={{ path ('Allinetereser') }}>Liste Interesser</a>
            <div class="text-right" >
                <div class="btn-group  ">
                    <button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown">Trier par Prix</button>
                    <div class="dropdown-menu"><a class="dropdown-item" href={{ path ('tbyprixdasec') }}  >Croissant</a><a class="dropdown-item" href={{ path ('tbyprixdesc') }}  >Décroissant</a>

                    </div>
                </div>
            </div>


        </ul>




        <div class="col-xs-3 col-sm-1">


        </div>
<form class="form-inline" method="post"  action="{{ path('rechercheprix') }}">
        <div class="col-xs-3">
            <p class="input-group">
                <input type="date" name="prixmin" placeholder="Prix moins cher" class="form-control"/>
                <span class="input-group-btn">

              </span>
            </p>
        </div>

        <div class="col-xs-1 text-center">

        </div>
        <div class="col-xs-3">
            <p class="input-group">
                <input type="date"  class="form-control"  name="prixmax" placeholder="Prix plus cher"/>
                <span class="input-group-btn">

              </span>
            </p>
        </div>
        <div class="col-xs-4 ">
            <p class="input-group ">
                <button class="btn btn-sm btn-secondary" type="submit">Recherche</button>
                <span class="input-group-btn">

              </span>
            </p>
        </div>



</form>
    </div>




    <div class="isotope-grid cols-4 mb-2">
        <div class="gutter-sizer"></div>
        <div class="grid-sizer"></div>
        <!-- Product-->



    {% for event in events %}

    <div class="grid-item" >

            <div class="product-card " >
                <a class="product-thumb" ><img  src="{{ asset('img/event/' ~ event.affiche) }}"  alt ="" ></a>
                <h3 class="product-title"><a>{{ event.titre }}</a></h3>
                <h4 class="product-price">
                    {{ event.prix }} Dinar
                </h4>
                <div class="product-buttons">
                    <form  method="POST" action="{{ path('Ajouterintersser',{'id': event.id})}}">
                        <button class="btn btn-outline-secondary "   type="submit" value="submit"  title="S'intéresser"><i class="icon-heart"></button></i></form>
                    <a class="btn btn-outline-info"href={{ path ('AffEvent',{ id: event.id  , cat :event.categorie} ) }}>Consulter</a>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% set url = absolute_url(asset('')) ~ 'app_dev.php/ajout/' ~ event.id ~ '/' ~ app.user.id %}
                    {% else %}
                        {% set url = "OTHER_URL" %}
                    {% endif %}

                    <a href="{{ url }}">Réserver</a>
                </div>
            </div>

        </div>

    {% endfor %}



    </div>

        <div class="navigation text-center">
            {{ knp_pagination_render(events) }}


        </div>







{% endblock %}