{% extends 'baseSponsor.html.twig' %}

{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 1250px;
            height: 350px;
        }
    </style>
    <style>

        * {
            box-sizing: border-box;
        }

        .columns {
            float: left;
            width: 33.3%;
            padding: 8px;
        }

        .price {
            list-style-type: none;
            border: 1px solid #eee;
            margin: 0;
            padding: 0;
            -webkit-transition: 0.3s;
            transition: 0.3s;
        }

        .price:hover {
            box-shadow: 0 20px 20px 0 rgba(0,0,0,0.5)
        }

        .price .header {

            background: linear-gradient(45deg,  rgba(223,182,103,1) 0%,rgba(249,243,232,1) 56%,rgba(231,192,116,1) 96%);
            color: white;
            font-size: 25px;
        }
        .price .header1 {

            background: linear-gradient(45deg,  rgba(160,160,160,1) 0%,rgba(232,232,232,1) 56%);
            color: white;
            font-size: 25px;
        }
        .price .header2 {
            background: linear-gradient(45deg,  rgba(242,215,12,1) 0%,rgba(255,255,255,1) 56%,rgba(252,235,0,1) 96%);
            color: white;
            font-size: 25px;
        }

        .price li {
            border-bottom: 1px solid #eee;
            padding: 20px;
            text-align: center;
        }

        .price .grey {
            background-color: #eee;
            font-size: 20px;
        }

        .button1 {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
        }

        @media only screen and (max-width: 600px) {
            .columns {
                width: 100%;
            }
        }
        .button {
            border-radius: 4px;
            background-color: #4CAF50;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 18px;
            padding: 10px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        .button:hover span {
            padding-right: 25px;
        }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }
    </style>
    <div class="offcanvas-wrapper">
        <!-- Page Content-->
        <!-- Main Slider-->
    <div class="container mt-3">

        <h2>Carousel</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">

                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>

                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <img src="{{ asset('img/sponsor/event1.png') }}" alt="Los Angeles" width="1100" height="500">

                </div>
                <div class="carousel-item">
                    <img src="{{ asset('img/sponsor/event2.jpg') }}" alt="Chicago" width="1100" height="500">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('img/sponsor/event3.jpg') }}" alt="New York" width="1100" height="500">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>

            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

    </div>
        <!-- Top Categories-->
    <div>
    <title>Don't Miss This Week End  Events : </title>

    {% for Event in Events %}
        <title>W3.CSS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
        <div class="w3-container">

            <div class="w3-panel w3-win8-">
                <h2>{{ Event.titre }}</h2>
                <p>{{ Event.description}} </p>

                <div class="coin bronze">
                    <div class="columns">
                        <ul class="price">
                            <li class="header">BRONZE</li>
                            <li class="grey">$ 9.99 / year</li>
                            <li>10GB Storage</li>
                            <li>10 Emails</li>
                            <li>10 Domains</li>
                            <li>1GB Bandwidth</li>
                            <li class="grey"><a href="#" class="button1">Sign Up</a></li>
                        </ul>
                    </div>
                </div>
                <div class="coin bronze">
                    <div class="columns">
                        <ul class="price">
                            <li class="header1" style="background-color:#4CAF50">SILVER</li>
                            <li class="grey">$ 24.99 / year</li>
                            <li>25GB Storage</li>
                            <li>25 Emails</li>
                            <li>25 Domains</li>
                            <li>2GB Bandwidth</li>
                            <li class="grey"><a href="#" class="button1">Sign Up</a></li>
                        </ul>
                    </div>
                </div>
                <div class="coin bronze">
                    <div class="columns">
                        <ul class="price">
                            <li class="header2">GOLD</li>
                            <li class="grey">$ 49.99 / year</li>
                            <li>50GB Storage</li>
                            <li>50 Emails</li>
                            <li>50 Domains</li>
                            <li>5GB Bandwidth</li>
                            <li class="grey"><a href="#" class="button1">Sign Up</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
      <center>  <a class="button" href="{{ path('appel_sponsor_ Events') }}"><span>See All Events </span></a></center>
    </div>

{% endblock %}